<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Автомобили</title>
</head>
<body>
<h1>Список автомобилей:</h1>
<table border="1">
  <tr>
    <th>Марка</th>
    <th>Модель</th>
    <th>Год производства</th>
  </tr>
  <tr th:each="car : ${cars}">
    <td th:text="${car.brand}">Марка авто</td>
    <td th:text="${car.model}">Модель авто</td>
    <td th:text="${car.yearOfProduction}">Год производства</td>
  </tr>
</table>
</body>
</html>